<ion-header>
  <ion-navbar>
    <ion-title>Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding overflow-scroll="true">

	<!--<button block round (click)="loadPics()">Load Feed</button>-->

  <!-- Refresher Pull Down Element -->
  <ion-refresher (ionRefresh)="loadPics($event)">
    <ion-refresher-content
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <!-- List of photos -->
	<div *ngFor="let pic of pictureContent">
    <div style="padding:5px;border:1px solid rgb(191, 191, 191);
                margin-bottom:10px;
                border-radius: 2px;
                -webkit-box-shadow: 2px 2px 14px -8px rgba(0,0,0,0.69);
                -moz-box-shadow: 2px 2px 14px -8px rgba(0,0,0,0.69);
                box-shadow: 2px 2px 14px -8px rgba(0,0,0,0.69);">
      <img [src]="pic" *ngIf="pic" />
    </div>
   </div>

</ion-content>
