<ion-header>
  <ion-navbar primary>
    <ion-title>Feed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding overflow-scroll="true">
  <!-- Refresher Pull Down Element -->
  <ion-refresher (ionRefresh)="loadPics($event)">
    <ion-refresher-content
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <!-- List of photos -->
	<div *ngFor="let pic of picMetaData">
    <ion-card>
  	  <ion-item><p>{{pic.time | date:"MMMM dd yyyy, hh:mm" }}</p></ion-item>

    	<img [src]="pic.data" *ngIf="pic" />

      <ion-row>
        <ion-col>
          <button (click)="showCommentsModal(pic.name)" primary clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

   </div>
</ion-content>
